.txtCenter {
    text-align: center;
    padding: 0;
}

.fotoIcon {
  float: right;
  font-size: 2em !important;
}

.container {
  width: 80%;
}

.dashTable {
    float: right;
    width: 100%;
}

.card-panel {
    border: 1px solid #1976d2;
    margin: .5rem 0 0.7rem 0;
    transition: all 250ms;
    transition-timing-function: ease-in-out;
    /* height: 20vh; */
    padding: 0 !important;
    border-radius: .3rem;
    position: relative;
    overflow: hidden;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.25rem;
  right: -0.5rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.fa,
.fab,
.fal,
.far,
.fas {
 -moz-osx-font-smoothing:grayscale;
 -webkit-font-smoothing:antialiased;
 display:inline-block;
 font-style:normal;
 font-variant:normal;
 text-rendering:auto;
 line-height:1
}

.fa-fw {
  text-align:center;
  width:1.25em
 }

.card-panel:hover {
    border: 1px solid white;
    transform: scale(1.2);
    z-index: 2;
    cursor: pointer;
}

.vejaMais:hover {
  background-color: #4287f5;
}

.card-panel h5 {
  padding: 1rem;
}

.card-panel:hover h5 {
  padding: 1rem 0.5rem;
}

.vejaMais {
  border-top: 1px solid rgba(13, 71, 161, 0.75);
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  transition: all 150ms;
  transition-timing-function: ease-in-out;
}

.vejaMais svg {
  margin-left: 1rem;
}
